<div id="actualgame">
    <div id="gameData" data-position="<%= @current_player_position%>" data-mistakes="<%= @current_player_mistakes%>"></div>
    <p id="type-test" data-time="<%= @game.timeSinceCreate%>" data-gameid="<%= @game[:id]%>"><%= @game[:wordsArray].join(' ') %></p>
    <div class="form-group">
        <label for="inputlg">Your Answer:</label>
        <input class="form-control input-lg" type="text" id="typed">
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <h1 id="timerText"></h1>
            <h1 id="timer"></h1>
        </div>
        <div class="col-md-6">
            <div id="players"></div>
        </div>
    </div>
</div>